package {{ .Package }}

import (

	"ergo.services/ergo/act"
	"ergo.services/ergo/gen"
)

func factory_{{ .Name }}() gen.ProcessBehavior {
	return &{{ .Name }}{}
}

type {{ .Name }} struct {
	act.Actor
}

// Init invoked on a start this process.
func (a *{{ .Name }}) Init(args ...any) error {
	a.Log().Info("Init process: %s with name %q and args %v \n", process.Self(), process.Name(), args)
	return nil
}

//
// Methods below are optional, so you can remove those that aren't be used
//

// HandleMessage invoked if Actor received a message sent with gen.Process.Send(...).
// Non-nil value of the returning error will cause termination of this process.
// To stop this process normally, return gen.TerminateReasonNormal
// or any other for abnormal termination.
func (a *{{ .Name }}) HandleMessage(from gen.PID, message any) error {
	a.Log().Info("got message from %s: %s", from , message)
	return any
}


// HandleCall invoked if Actor got a synchronous request made with gen.Process.Call(...).
// Return nil as a result to handle this request asynchronously and
// to provide the result later using the gen.Process.SendResponse(...) method.
func (a *{{ .Name }}) HandleCall(from gen.PID, ref gen.Ref, request any) (any, error) {
	a.Log().Info("got request from %s: %s", from , request)
	return true, nil
}

// Terminate invoked on a termination process
func (a *{{ .Name }}) Terminate(reason error) {
	a.Log().Info("terminated with reason: %s", reason)
}
