package main

import "ergo.services/ergo/gen"

// extraApps returns applications that require custom constructor arguments
// and therefore cannot be described in ergo.yaml.
// This file is never regenerated. Edit freely.
// See https://docs.ergo.services/basics/applications
func extraApps() []gen.ApplicationBehavior {
	return nil
}
