package {{.Package}}

import (
	"ergo.services/ergo"
	"ergo.services/ergo/gen"
)

func main() {
	var options gen.NodeOptions

	{{ if index .Params "applications" }}
	// Create applications that must be started
	options.Applications = []gen.ApplicationBehavior{ {{ range index .Params "applications" }}
	{{ .LoName }}.Create{{ .Name }}(), {{ end }}
	}
	{{ end }}

	// starting node
	{{.Name}}, err := ergo.StartNode("{{.Name}}", options)
	if err != nil {
		panic(err)
	}

	{{ range .Children }}
	// starting process {{ .Name }}
	if _, err := {{$.Name}}.SpawnRegister("{{ .LoName }}", factory_{{ .Name }}, gen.ProcessOptions{}); err != nil {
		panic(err)
	}
	{{ end }}

	{{.Name}}.Wait()
}
