package {{ .Package }}

import (
	"ergo.services/ergo/act"
	"ergo.services/ergo/gen"
)

type {{ .Name }} struct {
	act.Pool
}

func factory{{ .Name }}() gen.ProcessBehavior {
	return &{{ .Name }}{}
}

func (p *{{ .Name }}) Init(args ...any) (act.PoolOptions, error) {
	opts := gen.PoolOptions{
		Worker:     create{{ .Name }}Worker(),
		NumWorkers: {{ if index .Params "workers" }} {{ index .Params "workers" }} {{ else }} 5 {{ end }},
	}

	return opts, nil
}
