## Project: "{{ index .Params "project" }}"

### Generated with
 - Types for the network messaging: {{ index .Params "optionTypes" }}
 - Enabled Observer: {{ index .Params "optionObserver"}}
 {{- if index .Params "loggers" }}
 - Loggers: {{- range index .Params "loggers" }} {{ .Name }}{{ end }}
 {{ end }}

### Supervision Tree

{{- if index .Params "applications" }}

Applications
{{- range index .Params "applications" }}
 - `{{ .Name }}{}` {{ .Dir }}/{{ .LoName -}}.go
  {{- range .Children }}
   - `{{ .Name }}{}` {{ .Dir }}/{{ .LoName -}}.go
    {{- range .Children }}
     - `{{ .Name }}{}` {{ .Dir }}/{{ .LoName -}}.go
       {{- if .Children }}
	   - ... has more items. See source code
	   {{- end }}
    {{- end }}
  {{- end }}
 {{- end }}
{{ end -}}
{{ if index .Params "processes" }}
Process list that is starting by node directly
{{- range index .Params "processes" }}
 - `{{ .Name }}{}` {{ .Dir }}/cmd/{{ .LoName -}}.go
  {{- range .Children }}
   - `{{ .Name }}{}` {{ .Dir }}/{{ .LoName -}}.go
  {{- end }}
{{- end }}
{{ end }}
{{- if index .Params "types" }}
Messages are generated for the networking in {{ .Dir }}/types.go
{{ range index .Params "types" -}}
 - `{{ .Name }}{}`
{{ end -}}

{{ end }}

#### Used command

This project has been generated with the `ergo` tool. To install this tool, use the following command:

`$ go install ergo.services/tools/ergo@latest`

Below the command that was used to generate this project:

```$ {{ index .Params "args" }}```
