package {{ .Package }}

import (
	"github.com/ergo-services/ergo/etf"
	"github.com/ergo-services/ergo/gen"
)

func factory_{{ .Name }}() gen.ProcessBehavior {
	return &{{ .Name }}{}
}

type {{ .Name }} struct {
	act.UDP
}

//
// Mandatory callbacks
//

// InitUDP invoked on starting UDP server
func (us *{{ .Name }}) InitUDP(process *gen.UDPProcess, args ...etf.Term) (gen.UDPOptions, error) {
	var options gen.UDPOptions

	options.Handler = create{{ .Name }}Handler()
	{{- if index .Params "port" }}
	options.Port = {{ index .Params "port" }}
	{{- else }}
	options.Port = 7654
	{{- end }}
	{{- if index .Params "host" }}
	options.Host = "{{ index .Params "host" }}"
	{{- end }}
	{{- if index .Params "handlers" }}
	options.NumHandlers = {{ index .Params "handlers" }}
	{{- end }}

	return options, nil
}

//
// Optional gen.Server's callbacks
//

// HandleUDPCall this callback is invoked on ServerProcess.Call(...).
func (us *{{ .Name }}) HandleUDPCall(process *gen.UDPProcess, from gen.ServerFrom, message etf.Term) (etf.Term, gen.ServerStatus) {
	return nil, gen.ServerStatusOK
}

// HandleUDPCast this callback is invoked on ServerProcess.Cast(...).
func (us *{{ .Name }}) HandleUDPCast(process *gen.UDPProcess, message etf.Term) gen.ServerStatus {
	return gen.ServerStatusOK
}

// HandleUDPInfo this callback is invoked on Process.Send(...).
func (us *{{ .Name }}) HandleUDPInfo(process *gen.UDPProcess, message etf.Term) gen.ServerStatus {
	return gen.ServerStatusOK
}

// HandleUDPTerminate this callback invoked on a process termination
func (us *{{ .Name }}) HandleUDPTerminate(process *gen.UDPProcess, reason string) {

}
